In [2]:
import pandas as pd

df = pd.read_excel(
    "raw/Telco_customer_churn.xlsx",
    engine="openpyxl"
)

print(df.head())
print(df.shape)

   CustomerID  Count        Country       State         City  Zip Code  \
0  3668-QPYBK      1  United States  California  Los Angeles     90003
1  9237-HQITU      1  United States  California  Los Angeles     90005
2  9305-CDSKC      1  United States  California  Los Angeles     90006
3  7892-POOKP      1  United States  California  Los Angeles     90010
4  0280-XJGEX      1  United States  California  Los Angeles     90015

                 Lat Long   Latitude   Longitude  Gender  ...        Contract  \
0  33.964131, -118.272783  33.964131 -118.272783    Male  ...  Month-to-month
1   34.059281, -118.30742  34.059281 -118.307420  Female  ...  Month-to-month
2  34.048013, -118.293953  34.048013 -118.293953  Female  ...  Month-to-month
3  34.062125, -118.315709  34.062125 -118.315709  Female  ...  Month-to-month
4  34.039224, -118.266293  34.039224 -118.266293    Male  ...  Month-to-month

  Paperless Billing             Payment Method  Monthly Charges Total Charges  \
0               Yes               Mailed check            53.85        108.15
1               Yes           Electronic check            70.70        151.65
2               Yes           Electronic check            99.65         820.5
3               Yes           Electronic check           104.80       3046.05
4               Yes  Bank transfer (automatic)           103.70        5036.3

  Churn Label Churn Value Churn Score  CLTV                   Churn Reason
0         Yes           1          86  3239   Competitor made better offer
1         Yes           1          67  2701                          Moved
2         Yes           1          86  5372                          Moved
3         Yes           1          84  5003                          Moved
4         Yes           1          89  5340  Competitor had better devices

[5 rows x 33 columns]
(7043, 33)

In [3]:
df = df.loc[:, ~df.columns.str.contains("^Unnamed")]

In [5]:
target = "Churn Label"

In [6]:
df[target] = df[target].map({"Yes": 1, "No": 0})

In [7]:
df

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,1,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,1,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,1,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,1,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,1,1,89,5340,Competitor had better devices
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,United States,California,Landers,92285,"34.341737, -116.539416",34.341737,-116.539416,Female,...,Two year,Yes,Bank transfer (automatic),21.15,1419.4,0,0,45,5306,NaN
7039,6840-RESVB,1,United States,California,Adelanto,92301,"34.667815, -117.536183",34.667815,-117.536183,Male,...,One year,Yes,Mailed check,84.80,1990.5,0,0,59,2140,NaN
7040,2234-XADUH,1,United States,California,Amboy,92304,"34.559882, -115.637164",34.559882,-115.637164,Female,...,One year,Yes,Credit card (automatic),103.20,7362.9,0,0,71,5560,NaN
7041,4801-JZAZL,1,United States,California,Angelus Oaks,92305,"34.1678, -116.86433",34.167800,-116.864330,Female,...,Month-to-month,Yes,Electronic check,29.60,346.45,0,0,59,2793,NaN
7042,3186-AJIEK,1,United States,California,Apple Valley,92308,"34.424926, -117.184503",34.424926,-117.184503,Male,...,Two year,Yes,Bank transfer (automatic),105.65,6844.5,0,0,38,5097,NaN

In [8]:
drop_cols = [
    "CustomerID",
    "Country",
    "State",
    "City",
    "Zip Code",
    "Latitude",
    "Longitude",
    "Churn Reason",
    "Churn Score",
    "Churn Value"
]

In [9]:
df_model = df.drop(columns=drop_cols)

In [10]:
df_model

,Count,Lat Long,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,...,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,CLTV
0,1,"33.964131, -118.272783",Male,No,No,No,2,Yes,No,DSL,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,1,3239
1,1,"34.059281, -118.30742",Female,No,No,Yes,2,Yes,No,Fiber optic,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,1,2701
2,1,"34.048013, -118.293953",Female,No,No,Yes,8,Yes,Yes,Fiber optic,...,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,1,5372
3,1,"34.062125, -118.315709",Female,No,Yes,Yes,28,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,1,5003
4,1,"34.039224, -118.266293",Male,No,No,Yes,49,Yes,Yes,Fiber optic,...,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,1,5340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,"34.341737, -116.539416",Female,No,No,No,72,Yes,No,No,...,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),21.15,1419.4,0,5306
7039,1,"34.667815, -117.536183",Male,No,Yes,Yes,24,Yes,Yes,DSL,...,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,0,2140
7040,1,"34.559882, -115.637164",Female,No,Yes,Yes,72,Yes,Yes,Fiber optic,...,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,0,5560
7041,1,"34.1678, -116.86433",Female,No,Yes,Yes,11,No,No phone service,DSL,...,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,0,2793
7042,1,"34.424926, -117.184503",Male,No,No,No,66,Yes,No,Fiber optic,...,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,0,5097

In [11]:
df_model.shape
df_model["Churn Label"].value_counts()

Churn Label
0    5174
1    1869
Name: count, dtype: int64

In [14]:
df_model.to_csv(
    "processed/Telco_customer_churn.csv",
    index=False
)

In [19]:
print(df_model.head())
print(df_model.shape)

   Count                Lat Long  Gender Senior Citizen Partner Dependents  \
0      1  33.964131, -118.272783    Male             No      No         No
1      1   34.059281, -118.30742  Female             No      No        Yes
2      1  34.048013, -118.293953  Female             No      No        Yes
3      1  34.062125, -118.315709  Female             No     Yes        Yes
4      1  34.039224, -118.266293    Male             No      No        Yes

   Tenure Months Phone Service Multiple Lines Internet Service  ...  \
0              2           Yes             No              DSL  ...
1              2           Yes             No      Fiber optic  ...
2              8           Yes            Yes      Fiber optic  ...
3             28           Yes            Yes      Fiber optic  ...
4             49           Yes            Yes      Fiber optic  ...

  Tech Support Streaming TV Streaming Movies        Contract  \
0           No           No               No  Month-to-month
1           No           No               No  Month-to-month
2           No          Yes              Yes  Month-to-month
3          Yes          Yes              Yes  Month-to-month
4           No          Yes              Yes  Month-to-month

  Paperless Billing             Payment Method Monthly Charges Total Charges  \
0               Yes               Mailed check           53.85        108.15
1               Yes           Electronic check           70.70        151.65
2               Yes           Electronic check           99.65         820.5
3               Yes           Electronic check          104.80       3046.05
4               Yes  Bank transfer (automatic)          103.70        5036.3

  Churn Label  CLTV
0           1  3239
1           1  2701
2           1  5372
3           1  5003
4           1  5340

[5 rows x 23 columns]
(7043, 23)